---
title: Homepage
description: 'Write less code, solve more problems'
twitter_card_img: ''
---

h1 = data.settings.site.title
em = data.settings.site.description
markdown:
  Advanced Middleman template with `Sass`, `Slim` & `Yarn

  🚀
= link_to 'Get started', data.settings.site.url
